$mainColor: rgb(204, 56, 54);

.block {
    padding-bottom: 25px;

    &__content {
        border: 1px solid $mainColor;
        background-color: $mainColor;
        border-radius: 10px;
        /* width: 350px; */
        padding: 10px;
        // color: #eaeaea;
        color: white;
        box-shadow: 2px 3px 6px 1px #8a8a8a;
    }

    &__name {
        margin-bottom: 10px;
    }

    &__link {
        // color: #eaeaea;        
        color: white;
        text-decoration:none;
        word-break: break-all;
    }
}