.search {
    background-color: #f2f2f2;
    &__icon {
        content: "";
        background: url("../img/before.png") no-repeat center center;
        width: 84px;
        height: 84px;
        display: inline-block;
    }

    &__field {
        background-color: transparent;
        color: black;
        border: none;        
    }
}