.search {
    background-color: #f2f2f2;
    font-size: 25px;
    position: relative;    

    &__field {
        background-color: transparent;
        border: none; 
        padding-left: 45px;
        width: 100%;
        font-family: 'Lato', sans-serif;      
    }

    &::before {
        content: "";
        background: url("../img/before.png");
        background-position: center;   
        background-size: cover;   
        width: 30px;
        height: 30px;
        top: -1px;
        position: absolute;
    }
}